[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = {extras = ["dev"], version = "*"}
xdg = "*"

[dev-packages]
vermin = "*"
mypy = "*"
pylint = "*"
twine = "*"

[requires]
python_version = "3.11"
